@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.background-music {
    display: none;
}

.logo-img {
    width: 50px;
}

body {
    background-image: url(/img/background.png);
    background-size: cover;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.42);;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    width: 200px;
    transition: all 0.5s ease;
}

a {
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

li a:hover{
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

nav:hover {
    width: 200px;
    transition: all 0.5s ease-in-out;
}

.logout {
    position: absolute;
    bottom: 0;
}

.top-navbar {
    height: 90px;
    margin-left: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    width: 110px;
    background: rgb(47,107,198);
    background: linear-gradient(90deg, rgba(47,107,198,1) 0%, rgba(255,255,255,0) 100%);
    border-radius: 20px 0px 10px 0px;
}

.btn-play {
    font-size: 24px;
}

.play-icon {
    width: 30px;
}


.top-itens {
    display: flex
}

.top-content {
    width: 50%;
    display: flex;
}



.profile {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 50px;
    margin-right: 5px;
}

.profile-name {
    color: white;
    font-size: 24px;
}

.profile-status {
    color: #60F881;
    font-size: 12px;
}

.wrapper {
    display: flex;
    margin-left: 110px;
    margin-top: 30px;
}

.card-img {
    width: 280px;
    height: 160px;
    border-radius: 15px;
    margin-left: 90px;
    -webkit-box-shadow: 10px 9px 22px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 22px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 22px -10px rgba(0,0,0,0.75);
    cursor: pointer;
}

.video {
    margin-left: 200px;
    margin-top: 30px;
}

.video-frame {
    border-radius: 15px;
    -webkit-box-shadow: 10px 9px 22px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 22px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 22px -10px rgba(0,0,0,0.75);
}